d/*=============== *** CSS RESET *** =================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: xx-large;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*padding-top: 51px;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================= *** MEDIA QUERIES *** =========================*/


@font-face {
    font-family: "Open-Sans-Light";
    src: url(OpenSans/OpenSans-Light.ttf);
}

h1, h2, h3, h4, h5, h6{

	text-align: center;
	color:white;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: larger;
}
p {
	padding:10px;
	line-height: 200%;
}
body {
	text-align: center;
	font-family: 'Open-Sans-Light';
	color: white:;
	font-size: xx-large;
	background-color: #3A2D40;
	-webkit-background-size: cover;
	background-size: contain;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
section {
	display: block;
}
a:hover {
	text-decoration: none;
}

/*======================= CUSTOM ===========================*/

/*++++++++ COLORS +++++++*/
.yellow {
	color:#FFCC66;
}
.white {
	color:white;
}
.darkBlue {
	color:#2A202F;
}
.lightBlue {
	color:#3399CC;
}
.lightestBlue {
	color:#D0EBF3
}
.gray {
	color:#3A2D40;
}

/*+++++++ EFFECTS ++++*/
.bolder {
	font-weight: 900;
}

/*++++++++ ELEMENTS +++++++*/

.button {
	background: #3A2D40;
	padding:10px 10px;
	transition: ease-out .5s;
	margin: 5px 0;
	color:white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: large;
	letter-spacing: 5px

} .button:hover {
	transition: linear .1s;
	text-align:center;
	text-decoration: none;
	background-color: #3399CC
}
.divider {
	height:2px;
	width:100%;
	background:#2A202F;
}
.center-divider-left {
	height: 4px;
	width: 100%;
	margin-right: 0px;
	background:#2A202F;
}
.center-divider-right {
	height: 4px;
	width: 100%;
	margin-left: 0px;
	background:#2A202F;
}
.alt-divider {
	height:2px;
	width:100%;
	background: white;
}
.thick-divider {
	height:4px;
	width:100%;
	margin: 10px 0;
	background:#2A202F;
}
.section-header {
	text-align: left;
	font-weight: 600;
	margin: 10px 0;
}
.section-header-center {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.tinyhexagon {
	margin-top: -30px;
	text-align: left;
	font-size: 25px;
	color:#3399CC;
	padding:4px;
}
.scrolly-divider {
	margin: 10px 0;
	height:4px;
}

/*++++++++++++ CUSTOM HEADER ELEMENTS +++++++++++++*/

/*========= HEADER ==========*/

#header {
	background: rgba(58, 45, 64, 0.5);
	padding:0;
}
#logo-container {
	font-size: 0;
	width:100%;
	position: relative;
	z-index: 500;
}
#banner {
	margin-top: -20px;
	width:100%;
	z-index: 0;
}
#banner-text h1 {
	margin-right: auto;
	margin-left: auto;
}
#banner-text .divider {
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}
#date {
	margin:0;
	letter-spacing:20px;
	font-size: larger;
}

/*========= PRESS ==========*/
#press {
	color: white
}
#press-line {
	display: inline-block;
	vertical-align: middle;
}
#press-line p {
	display: inline-block;
	vertical-align: middle; 
	font-size: 18px;
	max-width: 1000px;
}
#press-hex {
	display: inline-block;
	vertical-align: middle;
	max-width: 200px;
}
#qoute {
	display: inline-block;
	vertical-align: middle;
}
#qoute p {
	display: block;
}
#press h1 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 25px;
	font-family: 'Open-Sans-Light';
	font-size: 75%;
	color: white:;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

/*========= HACKPSU LOGO ==========*/
#hackpsu-logo {
	position: absolute;
	margin-left: -150px;
	left: 50%;
	top: 100px;
	max-width: 300px;
	z-index: 500;
}

.logo-outline {
	padding: 0;
	margin: 0;
	width: 30%;
}

.path-left {
	stroke: white;
	stroke-dasharray: 730.56;
	stroke-dashoffset: 730.56;
	animation: dash 3.5s linear forwards;
}
.path-right {
	stroke: white;
	stroke-dasharray: 730.52;
	stroke-dashoffset: 730.52;
	animation: dash 3.5s linear forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

/*========= SPONSORS ==========*/
#sponsors {
	color: white;
	font-family: 'Open-Sans-Light';
}

#hex-container {
	display: inline-block;
	position: relative;
}
#hex-container img {
	position: absolute;
}
#hex-container svg {
	position: absolute;
}

.test-sponsor-xl {
	pointer-events: none;
}
.test-sponsor-xl img:nth-child(2) {
	pointer-events: none;
	max-width: 150px;
	height: 125px;
	right: -75px;
	top: 45px;
}
.test-sponsor-xl img:nth-child(1) {
	pointer-events: auto;
	max-width: 200px;
	right: -100;
}
.test-sponsor-xl div {
	margin-right: 100px;
	margin-left: 100px;
}

.test-sponsor-med {
	pointer-events: none;
}
.test-sponsor-med img:nth-child(2) {
	pointer-events: none;
	max-width: 100px;
	height: 75px;
	right: -50px;
	top: 45px;
}
.test-sponsor-med img:nth-child(1) {
	pointer-events: auto;
	max-width: 150px;
	right: -75;
}
.test-sponsor-med div {
	margin-right: 85px;
	margin-left: 85px;
}

.test-sponsor-sm img:nth-child(2) {
	pointer-events: none;
	max-width: 75px;
	height: 75px;
	right: -37.5px;
	top: 25px;
}
.test-sponsor-sm img:nth-child(1) {
	pointer-events: auto;
	max-width: 112.5px;
	right: -56.25px;
}
.test-sponsor-sm div {
	margin-right: 50;
	margin-left: 50;
}

#sponsors h1 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 75%;
	color: white:;
}
#sponsors p {
	font-size: 30%;
}
.sponsor-xl img {
	max-width: 175px;
	height: 125px;
	margin-right: 25px;
    margin-left: 25px;	
}
.sponsor-lg img {
	max-width: 125px;
	height: 125px;
	margin-right: 25px;
    margin-left: 25px;
} 
.sponsor-med img {
	max-width: 75px;
	height: 75px;
	margin-top: 20px;
	margin-right: 35px;
    margin-left: 35px;
}
.sponsor-sm img {
	max-width: 75px;
	margin-top: 15px;
	height: 50px;
	margin-right: 45px;
    margin-left: 45px;
}

.xl-div {
	pointer-events: none;
	height: 175px;
	width: 100%;
}
.med-div {
	pointer-events: none;
	height: 90px;
	width: 100%;
}
.sm-div {
	pointer-events: none;
	height: 35px;
	width: 100%;
}
.seperator-div {
	pointer-events: none;
	height: 200px;
	width: 100%;
}

.zoom img {
	-webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.zoom:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
    transform:scale(1.25);
}
.zoom:hover img:nth-child(1) {
	top: -50px;
}
.zoom:hover img:nth-child(2) {
	top: -5px;
}

/*========= PAST PROJECTS ==========*/
#past-projects {
	color: white;
	font-family: 'Open-Sans-Light';
}
#past-projects h1 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 75%;
	color: white:;
}

/*========= Misc. ==========*/
.divider {
	display: inline-block;
	vertical-align: middle;
	height:2px;
	width:20%;
	background: white;
}
#header-row {
	display: inline-block;
	vertical-align: middle;
}


/*====================  MISCELLANEOUS ====================*/
.spacer {
	height:70px;
}
.small-spacer {
	height:25px;
}
.container {
	padding-top:40px;
	padding-bottom: 40px;
}

