/*=============== *** CSS RESET *** =================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: xx-large;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers
*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*padding-top: 51px;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*========================= *** MEDIA QUERIES *** =========================*/

@media (max-width: 380px) {
	#banner-text h1 {
		font-size: 60%;
	}
	.section-header {
		font-size: 60%;
	}
	.section-header-center {
		font-size: 60%;
	}

	#logo-container img {
		width: 60%;
	}
	#mlh-trust-badge img {
		max-height: 85px;
	}
	.learnbuildshare-icon img {
		width: 35% !important;
	}
	.tagline {
		padding: 5px;
	}
	a .button {
		font-size: 40%;
	}
	p {
		font-size: 45%
	}
}

@media (min-width: 380px) and (max-width: 450px) {
	#banner-text h1 {
		font-size: 80%;
	}
	.section-header {
		font-size: 80%;
	}
	.section-header-center {
		font-size: 80%;
	}
	#logo-container img {
		width: 60%;
	}
	#mlh-trust-badge img {
		max-height: 90px;
	}
	.learnbuildshare-icon img {
		width: 35% !important;
	}
	.tagline {
		padding: 10px;
	}
	a .button {
		font-size: 40%;
	}
	p {
		font-size: 55%
	}
}

@media (max-width: 650px) {
	#floating>div {
		max-width: 80%
	}
	#countdown-timer .unit{
		display:inline-block;
		text-align: center;
		color:white;
		font-size: 40%;
		width: 22.5%;
	}
	#countdown-timer {
		text-align: left;
		padding-left: 10px;
		background:#2A202F;
		width:80%;
		padding:10px;
		margin:20px auto;
		border-radius: 10px;
		position: relative;
		white-space: nowrap;
	}
	#countdown-timer h3 {
		color:white;
		padding-top:10px;
		font-size: medium;
	}
	#countdown-timer > div > div {
		background:white;
		height:50px;
		font-size: large;
		line-height:30px;
		color:#2A202F;
		/*margin:10px 0;*/
		font-family: 'Oswald', sans-serif;
	}

	#schedule-container {
		height: 600px;
	}

}

@media (min-width: 450px) and (max-width: 650px) {
	#banner-text h1 {
		font-size: 100%;
	}
	.section-header {
		font-size: 100%;
	}
	.section-header-center {
		font-size: 100%;
	}
	#logo-container img {
		width: 300px;
	}
	#logo-container img {
		width: 60%;
	}
	#mlh-trust-badge img {
		max-height: 85px;
	}
	.learnbuildshare-icon img {
		width: 35% !important;
	}
	.tagline {
		padding: 15px;
	}
	a .button {
		font-size: 50%;
	}
	p {
		font-size: 60%
	}
}
@media (min-width: 650px) {
	#banner-text h1 {
		font-size: 120%;
	}
	.section-header {
		font-size: 120%;
	}
	.section-header-center {
		font-size: 120%;
	}

	#logo-container img {
		width: 350px;
	}
	.tagline {
		padding: 20px;
	}
	a .button {
		font-size: 70%;
	}
	p {
		font-size: 70%
	}
}

/*=================================================*/


@font-face {
    font-family: "Open-Sans-Light";
    src: url(OpenSans/OpenSans-Light.ttf);
}

.parallax {
	background-image: url('../assets/backgrounds/Background.png');
	min-height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1, h2, h3, h4, h5, h6{

	text-align: center;
	color:white;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: larger;
}
p {
	padding:10px;
	line-height: 200%;
}
body {
	text-align: center;
	font-family: 'Open-Sans-Light';
	color: white:;
	font-size: xx-large;
	/*background-color: #3A2D40;*/
	-webkit-background-size: cover;
	background-size: contain;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
section {
	display: block;
}
a:hover {
	text-decoration: none;
}

/*======================= CUSTOM ===========================*/

/*++++++++ COLORS +++++++*/
.yellow {
	color:#FFCC66;
}
.white {
	color:white;
}
.darkBlue {
	color:#2A202F;
}
.lightBlue {
	color:#3399CC;
}
.lightestBlue {
	color:#D0EBF3
}
.gray {
	color:#3A2D40;
}

/*+++++++ EFFECTS ++++*/
.bolder {
	font-weight: 900;
}

/*++++++++ ELEMENTS +++++++*/

.button {
	background: #3A2D40;
	padding:10px 10px;
	transition: ease-out .5s;
	margin: 5px 0;
	color:white;
	font-weight: 600;
	text-transform: uppercase;
	font-size: large;
	letter-spacing: 5px

} .button:hover {
	transition: linear .1s;
	text-align:center;
	text-decoration: none;
	background-color: #3399CC
}
.divider {
	height:2px;
	width:100%;
	background:#2A202F;
}
.center-divider-left {
	height: 4px;
	width: 100%;
	margin-right: 0px;
	background:#2A202F;
}
.center-divider-right {
	height: 4px;
	width: 100%;
	margin-left: 0px;
	background:#2A202F;
}
.alt-divider {
	height:2px;
	width:100%;
	background: white;
}
.thick-divider {
	height:4px;
	width:100%;
	margin: 10px 0;
	background:#2A202F;
}
.section-header {
	text-align: left;
	font-weight: 600;
	margin: 10px 0;
}
.section-header-center {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.tinyhexagon {
	margin-top: -30px;
	text-align: left;
	font-size: 25px;
	color:#3399CC;
	padding:4px;
}
.scrolly-divider {
	margin: 10px 0;
	height:4px;
}

/*++++++++++++ CUSTOM HEADER ELEMENTS +++++++++++++*/

/*========= HEADER ==========*/

#header {
	/*background: rgba(58, 45, 64, 0.5);*/
	background-color: #3A2D40;
	border-bottom: white 5px;
	/*max-height: 200px;*/
	padding:0;
}
#logo-container {
	/*width:100%;*/
	position: relative;
	z-index: 500;
}
#hackpsu-logo {
	text-align: center;
	max-height:inherit;
	z-index: 500;
}
#banner {
	margin-top: -20px;
	width:100%;
	z-index: 0;
}
#banner-text h1 {
	margin-right: auto;
	margin-left: auto;
}
#banner-text .divider {
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}
#date {
	margin:0;
	letter-spacing:20px;
	font-size: larger;
}

/*========= PRESS ==========*/
#press {
	/*color: white;*/
	background-color: none;
}
#press-line {
	display: inline-block;
	vertical-align: middle;
}
#press-line p {
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	color: white;
	max-width: 1000px;
}
#press-hex {
	display: inline-block;
	vertical-align: middle;
	max-width: 200px;
}
#qoute {
	display: inline-block;
	vertical-align: middle;
}
#qoute p {
	display: block;
}
#press h1 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 25px;
	font-family: 'Open-Sans-Light';
	font-size: 75%;
	color: white;
}
.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

/*========= SPONSORS ==========*/
#sponsors {
	color: white;
	background-color: #3A2D40;
	font-family: 'Open-Sans-Light';
}
#sponsors h1 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 75%;
	color: white:;
}
#sponsors p {
	font-size: 30%;
}
.sponsor-xl img {
	max-width: 225px;
	height: 125px;
	margin-right: 25px;
    margin-left: 25px;
}
.sponsor-lg img {
	max-width: 200px;
	height: 125px;
	margin-right: 25px;
    margin-left: 25px;
}
.sponsor-med img {
	max-width: 175px;
	height: 75px;
	margin-top: 20px;
	margin-right: 35px;
    margin-left: 35px;
}
.sponsor-sm img {
	max-width: 100px;
	margin-top: 15px;
	height: 50px;
	margin-right: 45px;
    margin-left: 45px;
}

/*========= PAST PROJECTS ==========*/
#past-projects {
	color: white;
	font-family: 'Open-Sans-Light';
}
#past-projects h1 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	margin-right: 25px;
	font-size: 75%;
	color: white:;
}

/*========= Misc. ==========*/
.divider {
	display: inline-block;
	vertical-align: middle;
	height:2px;
	width:20%;
	background: white;
}
#header-row {
	display: inline-block;
	vertical-align: middle;
}


/*====================  MISCELLANEOUS ====================*/
.spacer {
	height:70px;
}
.small-spacer {
	height:25px;
}
.container {
	padding-top:40px;
	padding-bottom: 40px;
}

/*====================  ANIMATIONS ====================*/

.fade-in-left {
	animation-duration: 2s;
	animation-name: fade-in-left;
}
@keyframes fade-in-left {
		from {
			transform: translate3d(-3em,0,0);
			opacity: 0;
			animation-timing-function: ease-in;
		}
}
.fade-in-right {
	animation-duration: 2s;
	animation-name: fade-in-right;
}
@keyframes fade-in-right {
		from {
			transform: translate3d(3em,0,0);
			opacity: 0;
			animation-timing-function: ease-in;
		}
}

.fade-in {
	animation-duration: 2s;
	animation-name: fade-in;
}
@keyframes fade-in {
		from {
			transform: scale(0);
			opacity: 0;
			animation-timing-function: ease-in;
		}
}
